/* _colors.scss */
$color-dark: #000;
$color-white: #fff;
$color-green: #9CDA6E;
$color-dark-green: #108800;
$text-blue:#001436;
$text-blue2:#021638;
$bg-blue:#E9F0F9;
$bg-grey: #e5eff7;
$text-pri :#141515