@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* _colors.scss */
/* Base CSS Reset */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default list styles */
ul, ol {
  list-style: none; /* Remove default bullets or numbers */
}

/* Base styles for <a> (anchor) */
a {
  text-decoration: none; /* Remove underlining */
  display: inline-block;
  color: #000;
}

/* _typography.scss */
/* _colors.scss */
body {
  font-family: "Arial", sans-serif;
  font-family: "Roboto", serif;
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica", sans-serif;
}

#zenaButton {
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  border: none;
}
#zenaButton i {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 20px;
}

/* _colors.scss */
.mainNavbar {
  padding: 40px 0;
  padding: 8px 10px;
  font-size: 1.25rem;
  line-height: 1;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  border-radius: 4px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 15px;
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 3;
}
.mainNavbar .logo a {
  width: 217.25px;
  height: 71px;
}
.mainNavbar .logo a img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mainNavbar .mainNavList .nav-link {
  font-size: 24px;
  font-weight: 300;
  text-transform: capitalize;
  margin: 5px 31px;
  position: relative;
}
.mainNavbar .mainNavList .nav-link::after {
  content: "";
  width: 0;
  height: 2px;
  bottom: 5px;
  left: 50%;
  position: absolute;
  background-color: #000;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.mainNavbar .mainNavList .nav-link:hover, .mainNavbar .mainNavList .nav-link:active, .mainNavbar .mainNavList .nav-link:focus {
  color: #000;
}
.mainNavbar .mainNavList .nav-link:hover::after, .mainNavbar .mainNavList .nav-link:active::after, .mainNavbar .mainNavList .nav-link:focus::after {
  width: 100%;
  left: 0px;
}

.navbarBtn {
  background-color: #9CDA6E;
  border-radius: 12px;
  color: #001436;
  font-family: "Roboto", serif;
  font-size: 24px;
  border: transparent;
  padding: 10px 20px;
}

.navbar-brand img {
  max-height: 50px;
  /* Adjust this based on your image size */
}

/* If you need more spacing in the navbar */
.navbar-toggler {
  padding: 8px 10px;
  font-size: 1.25rem;
  line-height: 1;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  border-radius: 4px;
  border: 1px solid #D9D9D9;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  margin-right: 15px;
}
.navbar-toggler img {
  height: 24px;
  width: 24px;
}

@media all and (max-width: 576px) {
  .mainNavbar {
    padding: 20px 0;
  }
  .mainNavbar .logo a {
    width: 140px;
    height: 50px;
  }
  .mainNavbar .logo a img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .mainNavbar .mainNavList .nav-link {
    font-size: 16px;
  }
  .navbarBtn {
    background-color: #9CDA6E;
    border-radius: 12px;
    color: #001436;
    font-family: "Roboto", serif;
    font-size: 24px;
    border: transparent;
    padding: 10px 20px;
    font-size: 14px;
    padding: 5px 10px;
  }
}
/* _typography.scss */
/* _colors.scss */
body {
  font-family: "Arial", sans-serif;
  font-family: "Roboto", serif;
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica", sans-serif;
}

.heroSection {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.heroSection video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.heroSection .heroImg1 {
  margin-top: 202px;
}
.heroSection .heroImg1 img {
  width: 230px;
  height: 172px;
  -o-object-fit: cover;
     object-fit: cover;
}
.heroSection .heroImg2 {
  margin-top: 136px;
}
.heroSection .heroImg2 figure img {
  width: 454px;
  height: 277px;
  -o-object-fit: cover;
     object-fit: cover;
}
.heroSection .heroImg2 figure figCaption h3 {
  color: #021638;
  text-align: center;
  text-shadow: -1px 1px 11.6px #FFF;
  font-family: Kanit;
  font-size: 65px;
  font-style: normal;
  font-weight: 300;
  line-height: 85px;
  letter-spacing: -0.575px;
}
.heroSection .heroImg2 figure figCaption p {
  color: #1E1E1E;
  text-align: center;
  -webkit-font-feature-settings: "dlig" on;
          font-feature-settings: "dlig" on;
  font-family: Kanit;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 40px;
  /* 133.333% */
  letter-spacing: 0.425px;
}

.heroStrip {
  background-color: #E9F0F9;
  padding: 50px 0;
}
.heroStrip .paraText {
  color: #001436;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
  letter-spacing: 0.425px;
}

/* _typography.scss */
/* _colors.scss */
body {
  font-family: "Arial", sans-serif;
  font-family: "Roboto", serif;
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica", sans-serif;
}

/* _colors.scss */
/* Add animation classes */
.animate {
  opacity: 0;
  /* transform: translateY(20px); */
  -webkit-transition: opacity 0.6s ease, -webkit-transform 0.6s ease;
  transition: opacity 0.6s ease, -webkit-transform 0.6s ease;
  transition: opacity 0.6s ease, transform 0.6s ease;
  transition: opacity 0.6s ease, transform 0.6s ease, -webkit-transform 0.6s ease;
}

.animate.visible {
  opacity: 1;
  /* transform: translateY(0); */
}

.emBrand .emBrandImg {
  height: 100vh;
}
.emBrand .emBrandImg img {
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.emBrand .emBrandImg video.bg-video-content {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.emBrand .emBrandInfo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}
.emBrand .emBrandInfo h3 {
  color: #021638;
  text-align: center;
  text-shadow: -1px 1px 11.6px #FFF;
  font-family: Kanit;
  font-size: 65px;
  font-style: normal;
  font-weight: 300;
  line-height: 85px;
  letter-spacing: -0.575px;
  font-size: 24px;
  line-height: 40px;
}
.emBrand .emBrandInfo h4 {
  color: #021437;
  font-size: 45px;
  font-family: Kanit;
  font-style: normal;
  font-weight: 300;
  line-height: 59px;
  letter-spacing: -0.575px;
  margin-bottom: 40px;
}
.emBrand .emBrandInfo p {
  color: #1e1e1e;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px; /* 181.25% */
  letter-spacing: 0.425px;
}

.zenaBackSection {
  padding: 130px 0;
}
.zenaBackSection .zenaBackVideo {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin-bottom: 50px;
}
.zenaBackSection .zenaBackVideo video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.zenaBackSection .zenaDialogue {
  text-align: center;
}
.zenaBackSection .zenaDialogue p {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 133.333% */
  letter-spacing: 0.425px;
  border-left: 1px solid #000;
  height: 100%;
  padding: 30px 0 30px 30px;
}
.zenaBackSection .zenaDialogue .b-none {
  border: none;
}

@media all and (max-width: 991px) {
  .zenaBackSection .zenaDialogue p {
    border: none;
  }
}
.zenaAdvantage {
  padding: 130px 0;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin-bottom: 50px;
}
.zenaAdvantage video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.zenaAdvantage .zenaAdvInfo {
  text-align: center;
}
.zenaAdvantage .zenaAdvInfo > h3 {
  color: #021638;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 40px;
  text-shadow: -1px 1px 11.6px #FFF;
}
.zenaAdvantage .zenaAdvInfo > p {
  margin-bottom: 60px;
  color: #1E1E1E;
  text-align: center;
  -webkit-font-feature-settings: "dlig" on;
          font-feature-settings: "dlig" on;
  font-family: Kanit;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 40px;
  /* 133.333% */
  letter-spacing: 0.425px;
}
.zenaAdvantage .zenaAdvCard p {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 133.333% */
  letter-spacing: 0.425px;
  padding: 30px 20px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #9CDA6E;
}

@media all and (max-width: 991px) {
  .zenaAdvantage {
    height: 100%;
  }
}
.zenaProductivity {
  padding: 130px 0;
}
.zenaProductivity .zenaProHeading h3 {
  color: #021638;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 40px;
  text-shadow: -1px 1px 11.6px #FFF;
  margin-bottom: 60px;
  font-family: "Kanit", serif;
}
.zenaProductivity .zenaProducInfo .checkBoxInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.zenaProductivity .zenaProducInfo .checkBoxInfo p {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 133.333% */
  letter-spacing: 0.425px;
  text-align: left;
}
.zenaProductivity .zenaProducInfo .checkBoxInfo span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25px;
  height: 25px;
  padding: 15px;
  margin: 4px 20px 0;
  border-radius: 5px;
  background-color: #108800;
  color: #fff;
}

@media all and (max-width: 991px) {
  .zenaProductivity .zenaProHeading h3 {
    font-size: 35px;
  }
}
.customizedBrand {
  padding: 100px 0;
  background-color: #e5eff7;
}
.customizedBrand .custBrandHeading {
  text-align: center;
}
.customizedBrand .custBrandHeading h3 {
  color: #021638;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 40px;
  text-shadow: -1px 1px 11.6px #FFF;
  color: #1e1e1e;
  font-family: "Kanit", serif;
}
.customizedBrand .custBrandHeading p {
  color: #1E1E1E;
  text-align: center;
  -webkit-font-feature-settings: "dlig" on;
          font-feature-settings: "dlig" on;
  font-family: Kanit;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 40px;
  /* 133.333% */
  letter-spacing: 0.425px;
}
.customizedBrand .custmVideo {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin-bottom: 50px;
  height: 25vh;
  margin-bottom: 20px;
}
.customizedBrand .custmVideo video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  z-index: 1;
}
.customizedBrand .zenaData {
  text-align: center;
}
.customizedBrand .zenaData h3 {
  color: #021638;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 40px;
  text-shadow: -1px 1px 11.6px #FFF;
  font-weight: 300;
}
.customizedBrand .zenaData p {
  color: #1E1E1E;
  text-align: center;
  -webkit-font-feature-settings: "dlig" on;
          font-feature-settings: "dlig" on;
  font-family: Kanit;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 40px;
  /* 133.333% */
  letter-spacing: 0.425px;
}

@media all and (max-width: 991px) {
  .customizedBrand .custBrandHeading h3 {
    font-size: 35px;
  }
}
.zenaGenerated {
  padding: 130px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  background-image: linear-gradient(179deg, #0a0631 35.14%, #0a0578 73.55%);
  height: 100vh;
}
.zenaGenerated .zenaGeneratedCard p {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 133.333% */
  letter-spacing: 0.425px;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #9CDA6E;
}

@media all and (max-width: 991px) {
  .zenaGenerated {
    height: 100%;
  }
}
.emBrandTeam {
  position: relative;
}
.emBrandTeam .emBrandInfo {
  padding-bottom: 130px;
  text-align: center;
}
.emBrandTeam .emBrandInfo h3 {
  color: #021638;
  text-align: center;
  text-shadow: -1px 1px 11.6px #FFF;
  font-family: Kanit;
  font-size: 65px;
  font-style: normal;
  font-weight: 300;
  line-height: 85px;
  letter-spacing: -0.575px;
  margin-bottom: 70px;
}
.emBrandTeam .emBrandInfo p {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 133.333% */
  letter-spacing: 0.425px;
  font-family: 16px;
  font-weight: 400;
  color: #1e1e1e;
}
.emBrandTeam .emBrandImg {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin-bottom: 50px;
  margin-bottom: 0;
}
.emBrandTeam .emBrandImg video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

@media all and (max-width: 991px) {
  .emBrandTeam {
    padding: 130px 0;
  }
  .emBrandTeam .emBrandInfo {
    padding: 0;
  }
}
.teamaccordian {
  padding: 0 15px;
}
.teamaccordian .accordion01 {
  padding: 130px 0;
  background-color: #e5eff7;
  border-radius: 35px;
}
.teamaccordian .accordion01 .faqHeading {
  margin-bottom: 50px;
}
.teamaccordian .accordion01 .faqHeading h3 {
  color: #021437;
  font-size: 45px;
  font-family: Kanit;
  font-style: normal;
  font-weight: 300;
  line-height: 59px;
  letter-spacing: -0.575px;
}
.teamaccordian .accordion01 .faqHeading p {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 133.333% */
  letter-spacing: 0.425px;
  font-size: 16px;
  color: #646868;
}
.teamaccordian .accordion01 .faqHeading span {
  display: inline-block;
  border-radius: 40px;
  padding: 6px 10px;
  margin-bottom: 30px;
  background-color: #fff;
}
.teamaccordian .accordion01 .card {
  background-color: transparent;
  border: 0;
}
.teamaccordian .accordion01 .card .card-header {
  background-color: unset;
  border: none;
}
.teamaccordian .accordion01 .card .card-header h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.teamaccordian .accordion01 .card .card-header h5 .btn {
  border: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 133.333% */
  letter-spacing: 0.425px;
  font-size: 16px;
  color: #141515;
}
.teamaccordian .accordion01 .card .card-header h5 .btn:focus, .teamaccordian .accordion01 .card .card-header h5 .btn:hover {
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-decoration: none;
}
.teamaccordian .accordion01 .card-body {
  width: 70%;
  text-align: center;
  margin: 0 auto;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 133.333% */
  letter-spacing: 0.425px;
  font-size: 16px;
  color: #141515;
}

.scheduleSection {
  padding: 130px 0;
}
.scheduleSection .scheduleDemo {
  padding: 40px 60px;
  background-color: #e5eff7;
  border-radius: 35px;
  text-align: center;
}
.scheduleSection .scheduleDemo h3 {
  color: #021638;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 40px;
  text-shadow: -1px 1px 11.6px #FFF;
}
.scheduleSection .scheduleDemo .form-group label {
  display: inline-block;
  width: 120px;
  text-align: right;
  color: #1E1E1E;
  text-align: center;
  -webkit-font-feature-settings: "dlig" on;
          font-feature-settings: "dlig" on;
  font-family: Kanit;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 40px;
  /* 133.333% */
  letter-spacing: 0.425px;
}
.scheduleSection .scheduleDemo .form-group input {
  display: inline-block;
  margin-left: 20px;
  background-color: transparent;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 1px solid #000;
}
.scheduleSection .scheduleDemo .form-group input:focus {
  outline: none;
}
.scheduleSection .scheduleDemo .form-group.formBtn01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media all and (max-width: 991px) {
  .scheduleSection .scheduleDemo {
    width: 100%;
  }
  .scheduleSection .scheduleDemo .form-group label {
    width: 100%;
    text-align: left;
  }
  .scheduleSection .scheduleDemo .form-group input {
    margin-left: 0;
  }
}